.mainPage {
    background-color: #f3f4f4;
    height: 100%;
    width: 100%;
    margin: 0 ;

}


.leftMain{
width: 20%;
    margin-right: 70%;
}
.calendar1{
    margin-bottom: 5em;
    border-style: none;
}
.rightMain{
margin-left: 50%;
}